
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
###< symfony/asset-mapper ###

###> public file uploads ###
/public/files/uploads/*
!/public/files/uploads/background/
/public/files/uploads/background/*
!/public/files/uploads/background/chefchaouen-123abc.jpg
!/public/files/uploads/background/chiangmai-abc123.jpg
!/public/files/uploads/background/china-456def.jpg
###< public file uploads ###

###> config parameters ###
/config/services.yaml
###< config parameters ###