@use 'variables';

section.flash {
    padding: 10px;
}

section.flash-success {
    background-color: variables.$success-2 ;
    color: variables.$gray-6;
}

section.flash-error {
    background-color: variables.$error-2;
    color: white;
}