@use "variables";

div.flash {
  padding: 10px;
}

div.flash-success {
  background-color: variables.$success-2;
  color: variables.$black;
}

div.flash-error {
  background-color: variables.$error-2;
  color: white;
}
