@use 'variables';

header {
    position: fixed;  
    width: 100%;
    padding-left: 120px;
    z-index: 100;
}

div#header-content {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    div.header-left {
        display: flex;
        flex-direction: row;
        gap: 20px;
    
        div.breathcrumbs {
            font-size: 0.7em;
            a {
                color: variables.$black;
            }
            span {
                color: variables.$primary-1
            }
        }
    }
    
    div.header-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}

button.mobile-menu {
    display: none;
    align-items: center;
}


div#mobile-header {
    display: none;
    justify-content: end;
    padding: 10px 30px;
    background: variables.$gray-4;
    color: white;
    position: fixed;
    top: 80px;
    width: 100%;
}


@media (max-width: variables.$medium-breakpoint) {
    header {
        padding: 0;
    }

    button.mobile-menu, div#mobile-header {
        display: flex;
    }
    
    div.header-right span {
        display: none;
    }
}