@use 'variables';

header {
    background-color: white;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;

    div.header-left {
        display: flex;
        flex-direction: column;
        div.breathcrumbs {
            font-size: 0.7em;
            a {
                color: variables.$black;
            }
            span {
                color: variables.$primary-1
            }
        }
    }
    div.header-right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}