@use 'variables';

nav {
    padding-top: 80px;
    background-color: variables.$primary-1;
    color: variables.$gray-1;
    min-width: 120px;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }

    li {
        border-bottom: 1px solid variables.$gray-1;                
    }
    
    a {
        padding: 10px;        
        color: variables.$gray-1;
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 5px;

        &.active {
            color: variables.$primary-1;
            background-color: variables.$gray-1;
            
            svg.icon {
                fill: variables.$primary-1;
            }
            &:hover {
                svg.icon {
                    fill: variables.$primary-1;
                }
            }
        }

        svg.icon {
            fill: variables.$gray-1;
        }

        &:hover {
            svg.icon {
                fill: variables.$gray-1;
            }
        }
    }
}