@use 'variables';

div.content-filters {
    display: flex;
    justify-content: space-between;
    
    div.content-filters-category {
        display: flex;
        justify-content: space-between; 
        gap: 5px;
    }

    div.content-actions {
        display: flex;
        justify-content: space-between; 
        gap: 5px;
    }
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background-color: variables.$gray-4;
    color: white;
}

th, td {
    padding: 5px 10px;
    text-align: left;
}

tbody tr {
    cursor: pointer;
    background-color: white;
    
    &:hover {
        background-color: transparent;
        scale: 1.01;

        td {
            background-color: variables.$primary-3;
        }
        
        td:first-child {
            border-radius: 10px 0 0 10px;
        }
    
        td:last-child {
            border-radius: 0 10px 10px 0;
        }
    }
}

tr:has(> td > input.object_id:checked) {
    scale: 1.01;
    background-color: transparent;
    border-radius: 10px;

    td {
        background-color: variables.$primary-2;
    }

    td:first-child {
        border-radius: 10px 0 0 10px;
    }

    td:last-child {
        border-radius: 0 10px 10px 0;
    }
}

input.object_id {
    display: none;
}

td {
    svg.icon:not(a svg.icon) {
        stroke: variables.$black;
        fill: variables.$black;
    }
    div.items {
        display: flex;
        gap: 4px;
        justify-content: center;
    }
}

div.actions {
    display: flex;
    gap: 10px;
    justify-content: end;
}

div.small-tag {
    background-color: variables.$gray-4;
    border-radius: 10px;
    padding: 1px 5px;
    color: white;
    width: fit-content;
    font-size: small;
}

@media screen and (max-width: variables.$medium-breakpoint) {
    thead {
        display: none;
    }

    tr {
        display: flex;
        flex-direction: column;
    }

    td {
        display: block;
        
        &:before {
            content: attr(data-cell) ": ";
            font-weight: 700;
        }

        &:first-child {
            border-radius: 10px 10px 0 0 !important;
        }
    
        &:last-child {
            border-radius: 0 0 10px 10px !important;
        }

        div.items {
            justify-content: start;
        }
    }
}