@font-face {
  font-family: "FunnelSans";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FunnelSans-VariableFont_wght.ttf) format("truetype");
}

$gray-1: #fdfdfd;
$gray-2: #f3f3f3;
$gray-3: #dbdbdb;
$gray-4: #aaaaaa;
$gray-5: #555555;

$black: #24292f;

$primary-1: #ff6f39;
$primary-2: #ff936b;
$primary-3: #fce8e1;

$success-1: #4dff39;
$success-2: #89ff6b;
$success-3: #e2fce1;

$error-1: #ff3939;
$error-2: #ff6b6b;
$error-3: #fce1e1;

$small-breakpoint: 480px;
$medium-breakpoint: 768px;
$large-breakpoint: 1279px;
