@font-face { 
    font-family: "FunnelSans";
    font-style: normal;
    font-weight: 400;
    src: 
        url(../../fonts/FunnelSans-VariableFont_wght.ttf) format("truetype");
}

$gray-1: #FDFDFD;
$gray-2: #F3F3F3;
$gray-3: #DBDBDB;
$gray-4: #AAAAAA;
$gray-5: #555555;
$gray-6: #0C0C0C;
$primary-1: #FF6F39;
$primary-2: #FF936B;
$primary-3: #FCE8E1;
