@import '_variables';

table {
    width: 100%;
}

td div.items {
    display: flex;
    gap: 4px;
    justify-content: center;
}

div.small-tag {
    background-color: $gray-4;
    border-radius: 10px;
    padding: 1px 5px;
    color: white;
    width: fit-content;
    font-size: small;
}