/* Color Theme Swatches in Hex */
$background-color-1: #253C59;
$background-color-2: #5D7A8C;
$accent-color: #99B4BF;
$primary-color-1: #D9B70D;
$primary-color-2: #BF8D30;

body {
    background-color: $background-color-1;
}

#login-form {
    background-color: $background-color-2;
    color: $accent-color;
    
    width: 400px;

    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;

    color: white;

}