<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Personal Management System</title>
        <link rel="icon" href="{{ asset('/images/favicon.ico') }}">
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}

        {% set background_image_url = random_background(files_uploads_backgrounds) %}
         <style>
            body::before{
                background: url("{{ background_image_url }}") no-repeat center center fixed;
                background-size: cover;
            }
        </style>
    </head>
    <body  data-bg-image="{{ background_image_url }}">
        {% block body %}{% endblock %}
    </body>
</html>
