<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Personal Management System{% endblock %}</title>
        <link rel="icon" href="{{ asset('/images/favicon.ico') }}">

        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.3.1/ckeditor5.css">
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('dashboard') }}{% endblock %}
        {% endblock %}
            
        <script>
            /* to prevent Firefox FOUC, this must be here */
            let FF_FOUC_FIX;
        </script>
    </head>
    <body>
        <div id="container">
           
            {% include('/dashboard/shared/_header.html.twig') with {'blockTitle':  block('title')} %}

            {% include('/dashboard/shared/_navigation.html.twig') %}

            <div id="content-container">
                <div id="content">
                
                    {{ include('/dashboard/shared/_flash.html.twig') }}
                
                    {% block bodyDashboard %}{% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
