{% extends 'base-dashboard.html.twig' %}

{% block title %}All HTML Elements{% endblock %}

{% block bodyDashboard %}
<div class="section">
	<div class="content">
		<h1>Personal Management System</h1>

		<p>
			This is a management system for my personal website. The management system is build in Symfony and I started working on it in November of 2024.
		</p> 
		
		<ul>
			<li>All icons are from the <a href="https://icomoon.io/" target="_blank">icomoon website</a>.</li>
			<li>The blog post module uses ckeditor 5 for content.</li>
			<li>Background images for the login screen are uploaded via the File uplaod module.</li>
			<li>New users are created via the Create User command.</li>
			<li>The openapi swagger interface is available via /api/v1.</li>
		<ul>
	</div>
</div>
{% endblock %}