{% for message in app.flashes('success') %}
<div class="section flash flash-success">
    <div>
        {{ message }}
    </div>
</div>
{% endfor %}
{% for message in app.flashes('error') %}
<div class="section flash flash-error">
    <div>
        {{ message }}
    </div>
</div>
{% endfor %}