<nav>
    <ul>
        {% embed 'dashboard/shared/_navigationItem.html.twig' with { 
                route: 'app_dashboard_home',
                content: 'Dashboard',
                icon: 'icon-home'
        } %}{% endembed %}
        {% embed 'dashboard/shared/_navigationItem.html.twig' with { 
                route: 'app_dashboard_user',
                content: 'Users',
                icon: 'icon-users'
        } %}{% endembed %}
        {% embed 'dashboard/shared/_navigationItem.html.twig' with { 
                route: 'app_dashboard_blog_post',
                content: 'Posts',
                icon: 'icon-newspaper'
        } %}{% endembed %}
        {% embed 'dashboard/shared/_navigationItem.html.twig' with { 
                route: 'app_dashboard_file',
                content: 'Files',
                icon: 'icon-folder-open'
        } %}{% endembed %}
    </ul>
</nav>