{% extends 'base.html.twig' %}

{% block body %}
    <h1>Oops! Something went wrong!</h1>

    <p>
        The application has encountered an unknown error. <a href="{{ path('app_dashboard_home') }}">Return to the homepage</a>.
    </p>
{% endblock %}